<form [formGroup]="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input
                type="text" class="form-control" id="name" name="name"
                (keyup.enter)="addTopic(topic)" #topic>
    </div>
    <div formGroupName="contact">
        <div class="form-group">
            <label for="contact-email">Email</label>
            <input formControlName="email" class="form-control" id="contact-email" name="contact-email"/>
        </div>
        <div class="form-group">
            <label for="contact-phone">Phone</label>
            <input formControlName="phone" class="form-control" id="contact-phone" name="contact-phone"/>
        </div>
    </div>
    <ul class="list-group">
        <li
                *ngFor="let topic of topics.controls"
                (click)="removeTopic(topic)"
                class="list-group-item">
            {{ topic.value }}
        </li>
    </ul>
</form>